@import "../vars";

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $bg-color;
  color: $color;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  .logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
  }
  .search{
    form{
      input{
        padding: 3px 8px;
        outline: none;
        border: none;
        height: 30px;
        border-radius: 8px 0  0 8px;
      }
      button{
        height: 30px;
        border-radius: 0 8px 8px  0;
        border: none;
        outline: none;
        width: 30px;
      }
    }
  }
}
